<div style="text-align:center">
  <h1>
    Inter-Component Interaction
  </h1>
</div>

<div>
  <h2>Parent Component</h2>
  <button (click)="userLoggedIn=true" >Login</button>
  <button (click)="userLoggedIn=false" >Logout</button>
  <p>userLoggedIn value: <b>{{userLoggedIn}}</b></p>
</div>

<div>
    <app-child #child [loggedIn]="userLoggedIn" ></app-child>
    <h3>Access child propery and method using Template reference variable</h3>
    <p>Useful with nested component and forms</p>
    <p>Instead use ViewChild() decorator to access them from code</p>
    <p>Name: {{child.name}}</p>
    <button (click)="child.greetFrizio()">Greet</button>
</div>
